.container {
  min-height: 100vh;
  padding: 0 0.5rem;
} 

.logoContainer {
  display:flex;
  justify-content:flex-start
}
.title {
 font-size: 3.5rem;line-height:3.5rem;
}

 .card { 
  background-color: #FFF;
  border-radius: 20px;
  border: 1px solid #cfcdcdb3;
  -webkit-box-shadow: 0 0 10px #aeaeae76;
  box-shadow: 1px 0px 20px 9px #aeaeae76;
  /* background-image: -webkit-linear-gradient( 
145deg, #51a2af 0%, #28b1a1 100%);
  background-image: linear-gradient( 
305deg, #51a2af 0%, #51a2af 100%); */
  padding: 0.4rem;
 } 
 .cardHeader { 
  /* color: #FFF; */
  display:flex;
  align-content: center;
  height:3rem;
  margin-top: 3rem;
 }
  .cardImage { 
    border-radius: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 1px 20px 20px 2px #aeaeae;
 } 
 .cardImageContent { 
    width: 100%;
    max-height: 100%;
    min-height: 15rem;
    

 }
  .cardContent { 
    padding: 1.5rem 0;
 }
